@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Poppins:wght@300;600&family=Roboto:wght@500&family=Work+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
}

:root {
  --background-color: #f9fafb;
  --form-color: #FFFFFF;
  --main-color: #0D9EC9;
}

body {
  background-color: #0E0E0E;
  display: flex;
  justify-content: center;
}

#main-container {
  align-self: center;
  width: 1035px;
  display: flex;
  flex-direction: row
}

#main-form-container {
  background-color: var(--background-color);
  width: 63%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#picture-container {
  background-position: 80% 20%;
  background-image: url(https://www.cia-france.com/media/342/nice-ville_1100x700.jpg);
  background-size: cover;
  width: 37%;
  height: 100vh;
}

#text-container {
  margin-top: 15%;
  height: 23%;
  width: 80%;
}

#middle-container {
  height: 32%;
  background-color: var(--form-color);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
}

button {
  margin-top: 50px;
  margin-left: 30px;
  width: 170px;
  height: 35px;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.1);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.8rem;
}

h3 {
  padding: 15px 5px 15px 30px;
}

input, label {
  display:block;
}

input {
  padding: 0px 0px 0px 3px;
  border: rgba(0, 0, 0, 0.2) solid 2px;
  border-radius: 4px;
  width: 190px;
  height: 22px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.1);
  border: 2px solid #20A7D8;
}

#form-container {
  display: flex;
  flex-direction: row;
}

label {
  letter-spacing: 1px;
  opacity: 0.7;
  font-weight: 600;
  font-size: 0.6rem;
}

#left-section, #right-section {
  display: block;
  flex-direction: column;
}

.form-element {
  padding: 0px 15px 10% 30px;
}

em:after {
  content: " ";
}

em {
  display: inline;
  color: var(--main-color);
}

p {
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 15px;
  margin-left: 30px;
}

a {
  font-weight: 600;
  color: var(--main-color);
  text-decoration:none;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

#error {
  margin: 0;
  color: red;
}